#list {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
}

#pics {
    height: 150px;
    width:125px;
    padding: 10px;
}

#resourcetext {
  text-align: center;
}
