
#flashcode {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

h2 {
  margin: .5px;
  font-size: 25px;
}
.headerFix {
  margin-top: 10px;
}

.fCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.fCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.fCard-flip-card:hover .fCard-flip-card-inner {
  transform: rotateY(180deg);
}

.fCard-flip-card-front, .fCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.fCard-flip-card-front {
  background-color: black;
  color: white;
  z-index: 2;
}

.fCard-flip-card-back {
  font-size: 70px;
  background-color: #0078ff;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

/* l card CSS */
.lCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.lCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.lCard-flip-card:hover .lCard-flip-card-inner {
  transform: rotateY(180deg);
}

.lCard-flip-card-front, .lCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.lCard-flip-card-front {
  background-color: black;
  color: white;
  z-index: 2;
}

.lCard-flip-card-back {
  font-size: 70px;
  background-color: #0078ff;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

/* a card css */
.aCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.aCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.aCard-flip-card:hover .aCard-flip-card-inner {
  transform: rotateY(180deg);
}

.aCard-flip-card-front, .aCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.aCard-flip-card-front {
  background-color: black;
  color: white;
  z-index: 2;
}

.aCard-flip-card-back {
  font-size: 70px;
  background-color: #0078ff;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

/* s card css */
.sCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.sCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sCard-flip-card:hover .sCard-flip-card-inner {
  transform: rotateY(180deg);
}

.sCard-flip-card-front, .sCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.sCard-flip-card-front {
  background-color: black;
  color: white;
  z-index: 2;
}

.sCard-flip-card-back {
  font-size: 70px;
  background-color: #0078ff;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

/* h card css */
.hCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.hCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.hCard-flip-card:hover .hCard-flip-card-inner {
  transform: rotateY(180deg);
}

.hCard-flip-card-front, .hCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.hCard-flip-card-front {
  background-color: black;
  color: white;
  z-index: 2;
}

.hCard-flip-card-back {
  font-size: 70px;
  background-color: #0078ff;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
/* c card css */
.cCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.cCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cCard-flip-card:hover .cCard-flip-card-inner {
  transform: rotateY(180deg);
}

.cCard-flip-card-front, .cCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cCard-flip-card-front {
  background-color: #0078ff;
  color: black;
  z-index: 2;
}

.cCard-flip-card-back {
  font-size: 70px;
  background-color: black;
  color: #17a2b8;
  transform: rotateY(180deg);
  z-index: 1;
}

/* o card css */
.oCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.oCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.oCard-flip-card:hover .oCard-flip-card-inner {
  transform: rotateY(180deg);
}

.oCard-flip-card-front, .oCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.oCard-flip-card-front {
  background-color: #0078ff;
  color: black;
  z-index: 2;
}

.oCard-flip-card-back {
  font-size: 70px;
  background-color: black;
  color: #ffc802;
  transform: rotateY(180deg);
  z-index: 1;
}

/* o card css */
.dCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.dCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.dCard-flip-card:hover .dCard-flip-card-inner {
  transform: rotateY(180deg);
}

.dCard-flip-card-front, .dCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.dCard-flip-card-front {
  background-color: #0078ff;
  color: black;
  z-index: 2;
}

.dCard-flip-card-back {
  font-size: 70px;
  background-color: black;
  color: #00ab34;
  transform: rotateY(180deg);
  z-index: 1;
}

/* e card css */
.eCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.eCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.eCard-flip-card:hover .eCard-flip-card-inner {
  transform: rotateY(180deg);
}

.eCard-flip-card-front, .eCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.eCard-flip-card-front {
  background-color: #0078ff;
  color: black;
  z-index: 2;
}

.eCard-flip-card-back {
  font-size: 70px;
  background-color: black;
  color: #ee153e;
  transform: rotateY(180deg);
  z-index: 1;
}
