#main {
  background-color: #ecececd9;
}

#flashcode {
  margin-top: 100px;
  margin-bottom: 50px;
}

#flash {
  padding-top: 10px;
  display: flex;
  text-align: center;
}
.flashLetters {
  font-size: 75px;
  padding-left: 5px;
}

#flashcode {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

h2 {
  margin: .5px;
  font-size: 25px;
}
.headerFix {
  margin-top: 10px;
}

/* c card css */
.cCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.cCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cCard-flip-card:hover .cCard-flip-card-inner {
  transform: rotateY(180deg);
}

.cCard-flip-card-front, .cCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cCard-flip-card-front {
  background-color: #17a2b8;
  color: black;
  z-index: 2;
}

.cCard-flip-card-back {
  font-size: 70px;
  background-color: black;
  color: #17a2b8;
  transform: rotateY(180deg);
  z-index: 1;
}

/* o card css */
.oCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.oCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.oCard-flip-card:hover .oCard-flip-card-inner {
  transform: rotateY(180deg);
}

.oCard-flip-card-front, .oCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.oCard-flip-card-front {
  background-color: #ffc802;
  color: black;
  z-index: 2;
}

.oCard-flip-card-back {
  font-size: 70px;
  background-color: black;
  color: #ffc802;
  transform: rotateY(180deg);
  z-index: 1;
}

/* o card css */
.dCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.dCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.dCard-flip-card:hover .dCard-flip-card-inner {
  transform: rotateY(180deg);
}

.dCard-flip-card-front, .dCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.dCard-flip-card-front {
  background-color: #00ab34;
  color: black;
  z-index: 2;
}

.dCard-flip-card-back {
  font-size: 70px;
  background-color: black;
  color: #00ab34;
  transform: rotateY(180deg);
  z-index: 1;
}

/* e card css */
.eCard-flip-card {
  font-size: 70px;
  background-color: transparent;
  width: 75px;
  height: 100px;
  perspective: 1000px;
}

.eCard-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.eCard-flip-card:hover .eCard-flip-card-inner {
  transform: rotateY(180deg);
}

.eCard-flip-card-front, .eCard-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.eCard-flip-card-front {
  background-color: #ee153e;
  color: black;
  z-index: 2;
}

.eCard-flip-card-back {
  font-size: 70px;
  background-color: black;
  color: #ee153e;
  transform: rotateY(180deg);
  z-index: 1;
}
